@import url("https://rawgit.com/Trigstur/TurtleTower/master/Files/Trigstur.css");
@import url("https://rawgit.com/Trigstur/TurtleTower/master/Files/Host-CoHost.css");



/* User List Color */
#user-lists {
    -webkit-box-shadow: -1px 3px 130px -10px rgba(249, 34, 59, 1);
    -moz-box-shadow: -1px 3px 130px -10px rgba(249, 34, 59, 1);
    box-shadow: -1px 3px 130px -10px #8E04D9;
    color: #8E04D9;
    background: linear-gradient(to right, #340050, #8E04D9) !important;
    top: 1px;
}
\


